.body {
	display: flex;
	flex-direction: column;
}

 /* HEADER */

.body__header {
   padding: 18px 0px;
   border-bottom: 1px solid #D9FFF5;
}

.header {
	display: flex;
   justify-content: space-around;
   align-items: center;
}

.button {
 	display: flex;
	align-items: center; 
}

.button--hidden-320 {
	display: none;
}

.button--hidden-320-768 {
	display: none;
}

.button__burger {}
.divider {}

.divider--hidden-320 {
	display: none;
}

.divider__img {}
.logo {}
.logo__img {}


/* TITLE */

.body__title {}

.title {
	display: flex;
	align-items: center;
	background: #F8F8F8;
}

.title__h1 {
	font-family: "TT Lakes", sans-serif;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -0.6px;
   color: #1B1C21; 
   margin-left: 16px;
}

.title__h1::before {
	content: url(icons/icon_highlight.svg);
	position: absolute;
	margin-left: -16px;
}


/* NAV */

.body__main-nav {}

.main-nav {
	background: #F8F8F8;
}

.main-nav__list {
	padding-left: 10px;
	margin: 6px;
}

.nav-list {
	display: flex;	
	list-style-type: none;
	overflow: hidden;	
   overflow-x: scroll;
}

.main-nav__li {
	margin-right: 10px;
}

.nav-li {
	font-family: "TT Lakes", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	white-space: nowrap;

}

.main-nav__link {
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
	color: #7E7E82;
	border: 2px solid #F8F8F8;
}

.main-nav__link:focus,
.main-nav__link:active,
.main-nav__link:hover {
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
	border-radius: 6px;
	outline: none;
}


/* ABOUT US*/

.main__about-us {
	display: flex;
	flex-direction: column;
}

.about-us {
  background: #F8F8F8;
  line-height: 18px;
}

.about-us__text {
	background: #F8F8F8;
	font-family: "TT Lakes", sans-serif;
	font-size: 14px;
   letter-spacing: 0.2px;
	color: #1B1C21;
	padding: 0px 16px;
}

.about-us__text:nth-of-type(2) {
	display: none;
}

.about-us__button {
	font-family: "TT Lakes", sans-serif;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   color: #1B1C21;
   border: none;
   background: #F8F8F8;
   text-align: left;
   padding: 8px 16px;
   width: 200px;
   text-align: center;
   margin-left: 15px;
   margin-bottom: 10px;
   border: 2px solid #F8F8F8;
}

.about-us__button:focus,
.about-us__button:hover,
.about-us__button:active {
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
	border-radius: 6px;
	outline: none;
}

.about-us__button::before {
   position: absolute;
	content: url(icons/icon_two-arrows.svg);
	margin-left: -22px;
}

.about-us__signboard-320-img {
	width: 100%;
}

.about-us__signboard-768 {
	display: none;
}

.about-us__signboard-1120 {
	display: none;
}



/* MEDIA QUERIES*/
 
@media only screen and (min-width: 768px) and (max-width: 1119px) {

/* HEADER*/

.button--hidden-320 {
	display: block;
}

.header__logo {
 	margin-right: 37%;
}	

.divider:nth-of-type(2) {
	display: block;
}

/* TITLE */


/* NAV */


/* ABOUT US */

.about-us {
	display: flex;
	flex-direction: row;
}

.about-us__text:nth-of-type(1) {
	margin-top: 0px;
}

.about-us__text:nth-of-type(2) {
	display: block;
}

.about-us__path--hidden-768 {
	display: none;
}

.about-us__title {
	margin-top: 25px;
	width: 45%;
	line-height: 20px;
}

.about-us__signboard-320 {
	display: none;
}

.about-us__signboard-768 {
	display: block;
	width: 55%;
	background: #F8F8F8;
	text-align: center;
}

.about-us__signboard-768-img  {
	padding: 25px 16px;
	border-radius: 35px;
	min-width:100%;
   min-height:100%;
   box-sizing: border-box;
}

.about-us__signboard-1120 {
	display: none;
}


}

@media only screen and (min-width: 1120px) {

.body {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */

.header--hidden-1120 {
	display: none;
}


/* TITLE */

.title__h1 {
	margin-left: 32px;
}

.title__h1::before {
	margin-left: -31px;
}

.button--hidden-320-768 {
	display: flex;
}

.title__button:first-of-type {
	margin-left: auto;
	margin-right: 30px;
}

.title__button:last-of-type {
	margin-right: 30px;
}

.button__label {
	font-family: "TT Lakes", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	font-weight: 700;
	color: #1B1C21;
}

.button__input {
	margin-left: 10px;
}

/* NAV */

.main-nav__list {
	padding-left: 25px;
}

.nav-list {
	flex-wrap: wrap;
	overflow: hidden;
}


/* ABOUT US */

.about-us {
	display: flex;
	flex-direction: row;
}

.about-us__text:nth-of-type(1) {
	margin-top: 0px;
}

.about-us__text:nth-of-type(2) {
	display: block;
}

.about-us__path--hidden-768 {
	display: inline;
}

.about-us__title {
	width: 50%;
	line-height: 20px;
	margin-top: 25px;
	padding-left: 15px;
}

.about-us__title:last-of-type {
	margin-bottom: 0px;
}

.about-us__signboard-320,
.about-us__signboard-768 {
	display: none;
}

.about-us__signboard-1120 {
	display: block;
	width: 50%;
	background: #F8F8F8;	
	text-align: center;
	margin-right: 20px;
}

.about-us__signboard-1120-img {
	padding: 25px 16px;
	border-radius: 35px;
	min-width:100%;
   min-height:100%;
   box-sizing: border-box;
}


}